body {
    font-family: 'Roboto', sans-serif;
    -webkit-appearance: none;
    color: #555;
    font-size: 16px;
    line-height: 22px;
}

textarea, input, select {
    outline: none;
}

h1, h2, h3 {
    font-size: 20px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #555;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    font-size: 18px;
    padding: 7px 0px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

label {
    font-size: 12px;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
