.cart-page-container{
    width: 80%;
    margin: auto;
}

.cart-page-container table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-spacing: 0;
    border-collapse: collapse;
}

.cart-page-container table th{
    background-color: rgba(51, 51, 51, 0.1);
    font-weight: bold;
    text-align: center;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

.cart-page-container td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    max-width: 100px;
    border: 1px solid #ddd;
}

.cart-item-img{
    display: inline-block;
    max-width: 95%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.text-field-left{
    text-align: left;
}

.text-field-right{
    text-align: right;
}